 #                                            Assignment - 1 & 2

### Qus.- 1: Try 5 Different functions of the String in Python.
### For example - index, split function.

___#--1-->index()___

___#Syntax: string.index(value,start,end)___

In [1]:
#example:

str = "Hello everyone."

x = str.index("e")

print(x)

1

In [2]:
txt = "Hello, welcome to my world."

x = txt.index("e", 5, 10) #index value of "e" between index 5 to 10:

print(x)

8

___#--2-->explit()___

___#Syntax: string.split(separator, maxsplit)___

In [3]:
#example: Split the string, using comma, followed by a space, as a separator;
ptr = "hello, my name is Tauseef, I am 22 years old"

x = ptr.split(", ")

print(x)

['hello', 'my name is Tauseef', 'I am 22 years old']

In [4]:
#example: Split the string into a list with max 2 items;
ptr = "hello#my#name#is#Aarove."
x = ptr.split("#",1)# setting the maxsplit parameter to 1, will return a list with 2 elements!
print(x)

['hello', 'my#name#is#Aarove.']

__#--3-->strip()__<br>
__#syntax: string.strip(characters)__

In [5]:
#example: Remove the leading and trailing characters;
txt = ",,,,,helhel.....Python....ooo"

x = txt.strip(",.!helo")

print(x)

Python

In [6]:
#example: Remove spaces at the beginning and at the end of the string:
txt = "     LetsUpgrade     "

x = txt.strip()

print(x)

LetsUpgrade

___#--4-->replace()___

___#syntax: string.replace(oldvalue, newvalue, count)___

In [7]:
#example: Replace all occurrence of the word "one":
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [8]:
#example: Replace the two first occurrence of the word "one":
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

___--5-->count()___

___#syntax: string.count(value, start, end)___

In [9]:
#example: Return the number of times the value "apple" appears in the string;
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [10]:
#example:Search from position 10 to 24;
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

### Qus.-2: Try 5 Different functions of the List object in Python

___#--1--> insert()___

___syntax: list.insert(position, element)___

In [11]:
#example:
list = [1,2,3,4,5,6]
print(list)
list.insert(2,6)
print(list)

[1, 2, 3, 4, 5, 6]
[1, 2, 6, 3, 4, 5, 6]

___#--2--> copy()___

___#syntax: list.copy()___

In [12]:
list.copy()
print(list)
type(list)

[1, 2, 6, 3, 4, 5, 6]

list

___#--3--> reverse()___


___#syntax: list.reverse()___

In [13]:
l = [10, 20, 30, 40, 50]
print(l)
l.reverse()
print(l)

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

___#--4--> sort()___

___#syntax: list.sort(reverse=True|False, key=myFunc)___

In [14]:
#example:
l = [82, 75, 964, 140, 5, 4]
print(l)
l.sort()  #bydeafult assending order
print(l)
l.sort(reverse=True)  # applying desending order sort
print(l)

[82, 75, 964, 140, 5, 4]
[4, 5, 75, 82, 140, 964]
[964, 140, 82, 75, 5, 4]

___#--5--> pop()___<br>
___#syntax: list.pop(position)___

In [15]:
l = ["c", "c++", "HTML", "java", "Python", "JavaScript"]
print(l)
l.pop(2)  #removing the element "HTML" at the index position 2.
print(l)

['c', 'c++', 'HTML', 'java', 'Python', 'JavaScript']
['c', 'c++', 'java', 'Python', 'JavaScript']

### Qus.-3: Experiment with at least 5 default functions of Dictionary

___#--1--> fromkeys()___<br>
___#syntax: dict.fromkeys(seq, value)___

In [16]:
seq = ('name', 'age', 'sex')
key= 10
dict = dict.fromkeys(seq)  #This is the list of values which would be used for dictionary keys preparation.
print(dict)
dict = dict.fromkeys(seq, key)  #key is optional, if provided then value would be set to this value
print (dict)

{'name': None, 'age': None, 'sex': None}
{'name': 10, 'age': 10, 'sex': 10}

___#--2--> get()___<br>
___#syntax: dict.get(key, default=None)___

In [17]:
#example: Try to return the value of an item that do not exis
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = dict.get("price", 15000)
print(x)
y = dict.get("model") #existing value
print(y)

15000
Mustang

___#--3--> keys()___<br>
___#syntax: dict.keys()___

In [18]:
dict = {"name": "Tauseef", "age": 20, "gender": "male"}
dict_keys = dict.keys() #getting the dictionary keys
print(dict_keys)
dict_values = dict.values() #getting the dict values
print(dict_values)

dict_keys(['name', 'age', 'gender'])
dict_values(['Tauseef', 20, 'male'])

___#--4--> update()___<br>
___#syntax: dictionary.update(iterable)___

In [19]:
dict = {"name": "Tauseef", "age": 20, "gender": "male"}
print(dict)
dict_2 = {"age": 22}
dict.update(dict_2)
print(dict)

{'name': 'Tauseef', 'age': 20, 'gender': 'male'}
{'name': 'Tauseef', 'age': 22, 'gender': 'male'}

___#--5--> pop()___<br>
___#syntax: dictionary.pop(keyname, defaultvalue)___

In [20]:
dict = {'name': 'Tauseef', 'age': 22, 'gender': 'male'}
print(dict)
dict.pop("age")
print(dict)

{'name': 'Tauseef', 'age': 22, 'gender': 'male'}
{'name': 'Tauseef', 'gender': 'male'}